.flexslider {
	border: 0;
	border-top: 8px solid #8192B3;
	margin: -4px 0 60px;
}
.flexslider figure {
	margin: 0;
}
#block-views-flexsliders-block figure {
	margin: 0px;
}
#block-views-flexsliders-block .field-name-field-title .field-item {
	font-size: 0.8em;
	position: absolute;
	overflow: hidden;
	width: 40%;
	max-height: 50%;
	padding: 5px 15px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #C3C3C3;
	font-weight: bold;
	bottom: 0px;
	width: 50%;
	left: 25%;
	text-align: center;
}
#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-items {
	overflow: hidden;
}
#header-bar, blockquote  {
	background: none;
}
#flexslider-1 .jumbotron {
    background: transparent;
}