/* Gratis subtheme css file */
#header-bar, blockquote  {
    background: none;
}
blockquote {
    border: 0;
}
.nivo-caption {
    width: 50%;
    margin: 0 25%;
}

@media screen and (max-width: 33.00em) {
#block-views-flexsliders-block .field-name-field-title .field-item,
#block-views-flexsliders-block .field-name-field-text .field-item {
    padding: 5px 15px;
}
#block-views-flexsliders-block .field-name-field-title .field-item {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(195, 195, 195);
    font-size: 1.2em;
    font-weight: bold;
}
#block-views-flexsliders-block .field-name-field-text .field-item {
    color: #000;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.76);
    border: 1px solid grey;
}
#block-views-flexsliders-block .field-name-field-image figure {
    margin: 0px;
}
}

@media screen and (min-width: 33.00em) {
#block-views-flexsliders-block .field-name-field-title .field-item,
#block-views-flexsliders-block .field-name-field-text .field-item {
    position: absolute;
    overflow: hidden;
    left: 10%;
    width: 40%;
    max-height: 50%;
    padding: 5px 15px;
}
#block-views-flexsliders-block .field-name-field-title .field-item {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(195, 195, 195);
    font-size: 1.5em;
    font-weight: bold;
    bottom: 50%;
}
#block-views-flexsliders-block .field-name-field-text .field-item {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1px 1px 3px #FFF;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.76);
}
}

@media screen and (min-width: 33.00em) and (max-width: 60em) {
#block-views-flexsliders-block .field-name-field-title .field-item {
    font-size: 1.2em;
}
#block-views-flexsliders-block .field-name-field-text .field-item {
    font-size: 0.8em;
}
}

@media screen and (min-width: 60.01em) {
#block-views-flexsliders-block .field-name-field-title .field-item {
    font-size: 2em;
}
#block-views-flexsliders-block .field-name-field-text .field-item {
    font-size: 1.5em;
}
}
