@media screen and (min-width: 0) and (max-width: 33.00em) {
	.flex-control-nav {
		height: 20px;
		/*top: 33.5%;*/
		bottom: 57%;
		padding-top: 3px;
		position: absolute;
		z-index: 102;
	}
	.flex-direction-nav a {
		top: 65px;
		z-index: 103;
	}
	.l-content-wrap {
        padding: 0;
		margin: 0;
	}
	.l-off-canvas {
		left: -100%;
	}
	.slides:after {
		display: block;
	}
	#block-views-flexsliders-block .field-name-field-text .field-item {
		color: #535353;
		font-weight: bolder;
		line-height: 1.3em;
		padding: 0 10px 0 15px;
		margin-bottom: -70px;
	}
	#block-views-flexsliders-block .field-name-field-image figure {
		margin: 0;
	}
	#off-canvas-left {
		width: 320px;
	}
}
@media screen and (min-width: 33.00em) and (max-width: 47.99em) {
	#flexslider-1 {
		font-size: 0.8em;
	}
	#flexslider-1 p {
		font-size: 1.2em;
	}
}
@media screen and (min-width: 33.00em) and (max-width: 60.01em) {
	.l-content-wrap {
		margin: 0;
	}
	#off-canvas-left {
		min-width: 320px;
		width: 57%;
	}
}
@media  (min-width: 0) and (max-width: 60.01em) {
	div#menu-wrapper {
		background-color: transparent;
	}
	ul.menu.primary i.fa.fa-home {
  	font-size: 1.7em;
	}
	.main-menu-wrapper {
	  background-color: rgba(168, 171, 184, 0.97);
	}
	.l-branding {
		display: none;
	}	
	.l-logo {
		margin: -55px 0 8px 0;
		position: relative;
	}	
	.l-menu-wrapper ul.menu a {
		background: #358EDA;
		font-size: 1em;
	}
	.l-menu-wrapper:hover ul.menu a:hover {
		background: #7E818A;
	}
	.l-menu-wrapper ul.menu, .l-menu-wrapper ul.menu a.active-trail {
		background: #6f7177;
	}
	.slides {
		background-color: white;
	}
	.stickynav-active {
		top: -8px;
	}
	#off-canvas-left {
		background-color: rgba(168, 171, 184, 0.97);
		z-index: 104;
	}
}
@media screen and (min-width: 0.47em) {
	ul.elastic-grid figure,
	.panel-bricks-25-75-stacked figure {
		float: right;
		margin: 0;
		width: 50%;
		padding: 0.1em;
		min-width: 75px;
	}
	ul.elastic-grid figure figcaption,
	.panel-bricks-25-75-stacked figure figcaption {
		display: none;
	}
}
@media screen and (min-width: 33.00em) {
	ol.flex-control-nav.flex-control-paging {
	  position: absolute;
	  top: 80%;
	  z-index: 101;
	  height: 10%;
	}
	.masonry-item {
   	width: 33%;
	}
	#block-views-flexsliders-block .field-name-field-text .field-items{
		background-color: rgba(255, 255, 255, 0.76);
		height: 100%;
		left:55%;			
		padding: 10px;
		position: absolute;
		top: 0;
		width: 45%;
	}
	#block-views-flexsliders-block .field-name-field-text .field-item {
		color: #535353;
		position: relative;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);			
		top: 50%;
	}
}
@media screen and (min-width: 60.01em) and (max-width: 62em) {
	ul.menu.primary {
		font-size: 0.9em;
		margin: 15px 0 0 5px;
	}
	ul.menu.primary i.fa.fa-home {
		font-size: 1.1em;
	}
}
@media screen and (min-width: 62em) {
	ul.menu.primary {
		font-size: 1em;
		margin: 15px 0 0 10px;
	}

	ul.menu.primary i.fa.fa-home {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 60.01em) {
	blockquote {
		border: 0;
	}
	div#menu-wrapper {
		padding: 5px 0;
	}
	.color-palette-green .l-menu-wrapper {
		background-color: rgba(255, 255, 255,1);
	}
	.color-palette-green .l-off-canvas--left {
		background-color: rgba(255, 255, 255,1);
	}
	.escale-width-150, .escale-width-150 a {
		width: 150px;
	}
	.escale-width-200, .escale-width-150 a {
		width: 200px;
	}
	.escale-width-250, .escale-width-150 a {
		width: 250px;
	}
	.flexslider { 
		border-top: 15px solid #8192B3;
	}
	.l-branding {
		display: inline-block;
		margin: 13px 0 0 10px;
		text-transform: uppercase;
		vertical-align: top;
	}
	.l-menu-wrapper ul.menu a.alink:hover {
		background-color: transparent;
		border-bottom: 5px solid #8192b3;
		color: #8192b3;
		padding-bottom: 3px;
		text-transform: uppercase;
	}
	.l-logo {
		display: inline-block;
		margin: 0 0 0 10px;
		vertical-align: top;
	}
	.main-menu-wrapper > ul {
		color: #535353;
		display: inline-block;
		vertical-align: top;
	}
	.main-menu-wrapper > ul a {
		color: #535353;
		font-size: 0.8em;
	}
	.main-menu-wrapper > ul > li {
		border-right: 0;
		margin-top: 3px;
	}
	.main-menu-wrapper li:hover > a {
    color: #535353;
  }
	.main-menu-wrapper > ul > li > a {
		float: none;
		padding: 7px 3px 14px 7px;
	}
	.main-menu-wrapper > ul > li::after {
		content: "|";
		color: #535353;
		margin-left: 0;
	}
	.main-menu-wrapper > ul > li.first::before {
		content: "|";
		color: #535353;
		margin-right: 0;
	}
	.main-menu-wrapper > ul > li > a.active {
		background-color: transparent;
		color: rgb(15, 15, 15);
		font-weight: bold;
	}
	.masonry-item {
   	width: 20%;
	}
	.nivo-caption {
		width: 50%;
		margin: 0 25%;
	}
	.stickynav-active ul.menu.primary {
		padding: 0;
		height: 40px;
	}
	#block-views-flexsliders-block .field-name-field-text .field-item {
		font-size: 1.1em;
	}
	#gallery-title a {
		position: absolute;
		bottom: 0px;
		background: rgba(0, 0, 0, 0.61) none repeat scroll 0% 0%;
		width: 100%;
		color: #FFF;
		padding: 1em;
		font-weight: bold;
	}
}