/* Gratis subtheme css file */
/*
ELEMENT-TAGS
*/
	body.page-admin.admin-menu.adminimal-menu {
		margin-top: 29px !important;
	}
	body.admin-menu.adminimal-menu {
		margin-top: 29px !important;
	}
	body.admin-menu.adminimal-menu::before {
		height: 0;
	}
	/* Seletor only for fix local bug */
	h3.site-slogan {
		font-family: 'Play';
		color: #7e818a;
		margin-right: 10px;
	}
	ul.elastic-grid figure,
	.panel-bricks-25-75-stacked figure {
		float: none;
		margin: 0;
		width: 100%;
		padding: 0.1em;
	}
	ul.elastic-grid figure figcaption,
	.panel-bricks-25-75-stacked figure figcaption {
		display: none;
	}
/*
CLASS
*/
	.color-palette-green a {
		color: #8192b3;
	}
	.color-palette-green .item-list-pager li.pager-current {
		background-color: #8192b3;
	}
	.color-palette-green .item-list-pager li.pager-current:hover {
		background-color: rgba(129, 146, 179, 0.9);
	}
	.color-palette-green .item-list-pager li a:hover {
  	background-color: rgba(129, 146, 179, 0.6);
	}
	.elastic-grid {
		text-align: center;
	}
	.elastic-grid-thumbnail .image {
		position: relative;
	}
	.elastic-grid-thumbnail .image .title a {
		position: relative;
		top: -100%;
		font-size: 0.85em;
		text-align: left;
		color: white;
		left: 0;
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.37);
		width: 100%;
		text-shadow: -1px -1px 1px black;
		font-weight: 600;
	}
	.l-off-canvas-show {
		background: rgba(255,255,255,0.9) url("../images/theme-sprite.png") no-repeat scroll 0px 0px;
		-webkit-border-bottom-right-radius: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-moz-border-radius-bottomleft: 8px;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		height: 40px;
		top: 8px;
		width: 260px;
	}
