.flexslider {
	border: 0;
	border-top: 8px solid #8192B3;
	margin: -4px 0 60px;
}
.flexslider figure {
	margin: 0;
}
#block-views-flexsliders-block figure {
	margin: 0;
}
#block-views-flexsliders-block .field-name-field-text .field-items {
	overflow: hidden;
}
#header-bar, blockquote  {
	background: none;
}
#flexslider-1 .jumbotron {
	background: transparent;
}