@media screen and (min-width: 15em) {
    #block-views-flexsliders-block .field-name-field-title .field-item {
            font-size: 0.8em;
    }
    #block-views-flexsliders-block .field-name-field-text .field-item {
            font-size: 0.5em;
    }
}
@media screen and (min-width: 33em) {
    #block-views-flexsliders-block .field-name-field-title .field-item {
            font-size: 1em;
    }
    #block-views-flexsliders-block .field-name-field-text .field-item {
            font-size: 0.8em;
    }
}
@media screen and (min-width: 60.01em) {
    #block-views-flexsliders-block .field-name-field-title .field-item {
            font-size: 2em;
    }
    #block-views-flexsliders-block .field-name-field-text .field-item {
            font-size: 1.2em;
    }
}