body.not-front .l-content-wrap {
    padding-top: 70px;
}
div.taxonomy-term.vocabulary-actividades .content {
	position: relative;
}
div#block-social-media-links-social-media-links {
    text-align: center;
}
.l-content-wrap {
    font-size: 14px;
}
.l-preface.l-setwidth {
  margin-top: 10px;
}
.nav-pills>li.active>a {
	border: 1px solid #AAB2BD;
  background-color: rgb(255, 255, 255);
	color: #8192b3;
	font-size: 1.4em;
	font-weight: bolder;
	margin: 0;
	padding: 4px 25px;
}
.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: rgb(129, 146, 179);
}
ol.search-results {
	margin: 0px;
}
.page-contenido-proyectos .l-content > h1,
.page-contenido-noticias .l-content > h1,
.search-api-page-results .search-performance, 
.search-api-page-results > h2 {
    display: none;
}
.page-search-facets h2 {
    z-index: 1;
    position: absolute;
    left: -10px;
    background: rgba(0, 0, 0, 0.67) none repeat scroll 0% 0%;
    top: 10px;
    color: white;
    padding: 10px 20px;
}
.preface .block {
	display: inline-block;
	margin: 10px 0 0 0;
	vertical-align: top;
}
.region {
	position: relative;
}
.region.region-preface-first {
    text-align: left;
}
.region.region-preface-second {
    text-align: center;
}
.region.region-preface-third {
    text-align: right;
}
.social-media-links.platforms.inline.horizontal {
    margin-left: 0;
}
.vocabulary-actividades .field-type-text h2 {
	position: absolute;
	top: 20%;
	background: rgba(0, 0, 0, 0.77) none repeat scroll 0% 0%;
	padding: 10px 20px;
	margin: 0px;
	left: -10px;
	color: #FFF;
	font-size: 1.5em;
}

