/* Gratis subtheme css file */

/*
ELEMENT-TAGS
*/

	body.page-admin.admin-menu.adminimal-menu {
		margin-top: 29px !important;
	}

	body.admin-menu.adminimal-menu {
		margin-top: 29px !important;
	}

	body.admin-menu.adminimal-menu::before {
		height: 0;
	}
	ul.elastic-grid figure,
	.panel-bricks-25-75-stacked figure {
		float: none;
		margin: 0px;
		width: 100%;
		padding: 0.1em;
	}
	ul.elastic-grid figure figcaption,
	.panel-bricks-25-75-stacked figure figcaption {
		display: none;
	}

/*
CLASS
*/
	.l-branding {
		display: none;
	}
	.elastic-grid {
		text-align: center;
	}
	.elastic-grid-thumbnail .image {
	  xposition: relative;
	}
	.elastic-grid-thumbnail .image .title a {
	  position: relative;
	  top: -100%;
	  font-size: 0.85em;
	  text-align: left;
	  color: white;
	  left: 0;
	  padding: 5px;
	  background-color: rgba(0, 0, 0, 0.37);
	  width: 100%;
	  text-shadow: -1px -1px 1px black;
	  font-weight: 600;
	}
	.flexslider {
		border: 0;
		border-top: 8px solid #8192B3;
		margin: -4px 0 60px;
	}
	.l-off-canvas-show {
		background: rgba(255,255,255,0.9) url("../images/theme-sprite.png") no-repeat scroll 0px 0px;
		-webkit-border-bottom-right-radius: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-moz-border-radius-bottomleft: 8px;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	  height: 40px;
	  top: 8px;
	  width: 260px;
	}
	.main-menu-wrapper > ul ul {
		z-index: 100;
	}
	.masonry-item #masonry-row-title,
	.masonry-item #masonry-row-title a {
		padding: 5px;
		font-size: 0.8em;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		margin-bottom: 10px;
		display: block;
	}
	.stickynav-active {
		top: -8px;
	}

/*
 ATTRIBUTES
*/

	#header-bar, blockquote  {
		background: none;
	}
	#menu-wrapper {
		box-shadow: 0px 3px 10px;
	}
	#off-canvas-left {
	  background-color: rgba(168, 171, 184, 0.97);
	}

@media screen and (min-width: 0.47em) {

	ul.elastic-grid figure,
	.panel-bricks-25-75-stacked figure {
			float: right;
			margin: 0px;
			width: 50%;
			padding: 0.1em;
			min-width: 75px;
	}
	ul.elastic-grid figure figcaption,
	.panel-bricks-25-75-stacked figure figcaption {
			display: none;
	}
}

@media screen and (min-width: 33.00em) {

	#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-item {
	position: absolute;
	overflow: hidden;
	left: 10%;
	width: 40%;
	max-height: 50%;
	padding: 5px 15px;
	}
	#block-views-flexsliders-block .field-name-field-title .field-item {
			background-color: rgba(0, 0, 0, 0.8);
			color: rgba(195, 195, 195, 1);
			font-size: 1.5em;
			font-weight: bold;
			bottom: 50%;
	}
	#block-views-flexsliders-block .field-name-field-text .field-item {
			color: #000;
			font-size: 1em;
			font-weight: bold;
			text-shadow: 1px 1px 3px #FFF;
			top: 50%;
			background-color: rgba(255, 255, 255, 0.76);
	}
}

@media screen and (min-width: 60.01em) {

	blockquote {
	border: 0;
	}

	.escale-width-150, .escale-width-150 a {
			width: 150px;
	}
	.escale-width-200, .escale-width-150 a {
			width: 200px;
	}
	.escale-width-250, .escale-width-150 a {
			width: 250px;
	}
	.l-menu-wrapper ul.menu a.alink:hover, .l-menu-wrapper ul.menu a.active-trail {
  	background-color: #7E818A;
	}
	.l-logo {
	  position: relative;
		right: 380px;
		top: 40px;
	}
	.nivo-caption {
	width: 50%;
	margin: 0 25%;
	}
	.stickynav-active .main-menu-wrapper {
		height: 70px;
	}
	.stickynav-active ul.menu.primary {
		padding-top: 0.8em;
		float: right;
	}
	
	#block-simple-taxonomy-menu-simple-taxonomy-menu-1 {
			position: fixed;
	}
	#block-views-flexsliders-block .field-name-field-title .field-item {
			font-size: 2em;
	}
	#block-views-flexsliders-block .field-name-field-text .field-item {
			font-size: 1.5em;
	}
	#gallery-title a {
			position: absolute;
			bottom: 0px;
			background: rgba(0, 0, 0, 0.61) none repeat scroll 0% 0%;
			width: 100%;
			color: #FFF;
			padding: 1em;
			font-weight: bold;
	}
}

@media screen and (max-width: 33.00em) and (min-width: 0) {
	#block-views-flexsliders-block .field-name-field-title .field-item, #block-views-flexsliders-block .field-name-field-text .field-item {
	padding: 5px 15px;
	}
	#block-views-flexsliders-block .field-name-field-title .field-item {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgb(195, 195, 195);
	font-size: 1.2em;
	font-weight: bold;
	}
	#block-views-flexsliders-block .field-name-field-text .field-item {
	color: #000;
	font-size: 0.8em;
	background-color: rgba(255, 255, 255, 0.76);
	border: 1px solid grey;
	}
	#block-views-flexsliders-block .field-name-field-image figure {
	margin: 0px;
	}
	.l-logo {
	  top: -25px;
	  right: 85px;
	  position: absolute;
	}	
}

@media (max-width: 60.01em) and (min-width: 0) {

	.l-menu-wrapper ul.menu a {
	  background: #358EDA;
	}
	.l-menu-wrapper:hover ul.menu a:hover {
		background: #7E818A;
	}
	.l-menu-wrapper ul.menu, .l-menu-wrapper ul.menu a.active-trail {
		background: #6f7177;
	}
}

@media screen and (min-width: 33.00em) and (max-width: 60em) {

	#block-views-flexsliders-block .field-name-field-title .field-item {
			font-size: 1.2em;
	}
	#block-views-flexsliders-block .field-name-field-text .field-item {
			font-size: 0.8em;
	}
		.l-logo {
		margin-top: -55px;
	  position: relative;
	}	
}