.masonry-item {
    width: 20%;
}
.masonry-item img {
    border: 5px solid white;
    width: 100%;
}
.field-content.masonry-title a {
		background-color: rgba(0, 0, 0, 0.58);
		color: white;
		font-size: 0.8em;
		font-weight: 600;
		padding: 5px;
		position: absolute;
		bottom: 0px;
		z-index: 1;
		margin: 5px auto;
	}