.field-content.masonry-title a {
	background-color: rgba(0, 0, 0, 0.58);
	color: #FFF;
	font-size: 0.8em;
	font-weight: 600;
	padding: 2%;
	position: absolute;
	bottom: 0px;
	z-index: 1;
	margin: 2%;
	width: 96%;
}
.masonry-item img {
	margin: 2%;
	width: 96%;
}
.nav-pills>li.active>a {
	border: 1px solid #AAB2BD;
  background-color: transparent;
	color: #545454;
}
.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #8192b3;
}
.preface .block {
	display: inline-block;
	vertical-align: top;
}
/*#block-block-9, #block-block-10 {
	display: inline-block;
	vertical-align: top;
}*/
@media screen and (min-width: 0) {
	.masonry-item {
		width: 100%;
	}
}
@media screen and (min-width: 21em) {
	.masonry-item {
		width: 50%;
	}
}
@media screen and (min-width: 45em) {
	.masonry-item {
			width: 25%;
	}
}